            h1 {
                font-family: 'Times New Roman', Times, serif;
                font-size: 72px;
                font-weight: 100;
                color: rgb(70, 70, 70);
                text-align: center;
                margin-top: 40px;
                margin-bottom: 20px;
            }
            .my-box1 {
                text-align: center;
                margin-left: 20vw;
                height: 350px;
                width: 55vw;
                background-color: rgb(255,255,255);
                border: 10px solid;
                border-radius: 50px;
                border-color:white;
            }
            .my-box2 {
                margin-left: 20vw;
                height: 350px;
                width: 55vw;
                background-color: rgb(255,255,255);
            } /* this box isnt even being fucking used.*/
            body {
                background-color: #feb7f997;
            }
            div a {
                display: inline-block;
                font-family: 'Times New Roman', Times, serif;
                font-size: 30px;
                font-weight: 200;
                margin-top: 40px;
                color: black;
                text-decoration: none;
                transition: all 0.3s ease-in-out;

            }
            div a:hover {
                color: rgb(150, 150, 150);
                font-size: 32px;
            }
            div .photos {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;
                margin-bottom: 20px;
                border: 10px;
            }